<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="../vue.js"></script>

</head>
<body>
    <div id="root">
        <input v-model="novoNome">
        <button @click="adicionar">Adicionar</button>

        <div>
            <ul>
                <li v-for="nome in nomes">{{nome | capitalizar}}</li>
            </ul>
        </div>
    </div>
    <script>
        root = new Vue({
            el: "#root",
            data: {
                novoNome: '',
                nomes: []
            },
            methods: {
                adicionar: function(){
                    this.nomes.push(this.novoNome)
                    this.novoNome= ""
                }
            },
            filters: {
                capitalizar: function(value){
                    return value.toUpperCase()
                }
            }
        })
    </script>
</body>
</html>